.cursoImg {
    width: 400px;
    z-index: -99;
    display: block;
    -webkit-transition: .6s;
    transition: .6s;
    position: absolute;
}

.activo {
    transform: scale(1.1);
}

.cursoBorder {
    border: 23px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 445px;
    height: 445px;
    z-index: 2;
}
  
.cursoFiltro {
width: 400px;
height: 400px;
background-color: rgba(0, 0, 0, 0.397);
position: absolute;
z-index: -1;
}
  
.cursoTexto {
    transition: .6s;
    max-width: 80%;
    padding-top: 200px;
    z-index: 4;
}

.titulo {
    z-index: 3;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    text-transform: uppercase;
    color: rgb(51,51,51);
}

.descripcion {
    color: white;
    font-weight: 400;
    font-size: 17px;
}

.hover {
    padding-top: 170px;
}

.aboutBox1{
    padding-top: 100px;
    font-family: Fellix; 
    padding-bottom: 30px; 
    font-weight: 300;
    font-size: 60px;
    max-width: 50%;
    line-height: 70px;
}

.aboutBox2 {
    font-weight: 300;
    max-width: 60%; 
    font-size: 25px;
}

.aboutText{
    color: rgb(109,109,132);
    font-size: 25px; 
    font-weight: 500;
}


@media only screen and (max-width: 900px) {
    .cursoImg {
        width: 200px;
    }

    .cursoFiltro {
        width: 220px;
        height: 220px;
    }

    .cursoBorder {
        width: 240px;
        height: 240px;
    }

    .aboutBox1 {
        max-width: 80%;
        font-size: 40px;
        padding-top: 120vw;
        line-height: 55px;
    }

    .aboutBox2 {
        font-weight: 300;
        max-width: 80%; 
        font-size: 21px;
    }

    .aboutText{
        font-size: 22px; 
        font-weight: 500;
    }


}