

.footer {
    margin-top: 93vh;
    top: 0;
    left: 0; 
    position: absolute;
    z-index: 1;
    width: 101vw;
}

.infoLogo {
    max-width: 330px;
}

.infoTexto {
    padding: 25px 0 15px 0;
    font-size: 19px;
    max-width: 330px;
    margin: auto;
}

.ubicacionTexto {
    font-size: 18px;
}

.icono {
    font-size: 30px;
}