body {
    background-image: url('/background.jpeg');
    background-size: 100vw;
    background-repeat: no-repeat;
}

.navItem {
    padding: 3vh;
    &:hover{
        color:#3c749e;
    }
}

.top {
    &:hover{
        color: rgb(131,205,220);
    }
}

.logo {
    transition: .3s;
    margin-left: 20%;
    margin-top: 25px;
    width: 200px;
}

.topLogo {
    transition: .3s;
    margin-left: 20%;
    margin-top: 17px;
    width: 150px;
}

.button {
    font-family: 'Fellix';
    padding: 15px 30px 20px 30px;
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,116,158,1) 0%, rgba(84,183,203,1) 100%);
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    &:hover {
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(60,116,158,1) 0%, rgba(84,183,203,1) 100%);
    }
}

.banner {
    margin: 35vh 0 0 16vw;
    top: 0;
    color: white; 
    position: absolute;
}

.slogan {
    font-size: 77px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fixedButton {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    background-color: rgba(31, 84, 115, 0.596);
    padding: 6px 3px 0 8px;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    z-index: 99;
    cursor: pointer;
    &:hover {
        background-color: rgb(31, 84, 115);
    }
}

.whatsapp {
    background-color: rgba(64, 195, 81, 0.747);
    padding: 5px 2px 0 6px;
    border-radius: 50px;
    right: auto;
    left: 5vw;
    &:hover {
        background-color: rgb(64,195,81);
    }
}


@media only screen and (min-width: 901px) {
    .background {
        top: 0;
        left: 0; 
        width: 100vw;
        position: absolute;
        z-index: -1;
        &::after {
            position: absolute;
            width: 100vw;
            height: 100vh;
        }
    }

    .toggle {
        display: none;
    }
}


@media only screen and (max-width: 900px) {

    body {
        background-size: 340vw;
        background-position-x: -190vw;
        margin-left: -5%;
    }

    .logo {
        transition: .3s;
        margin-left: 20%;
        margin-top: 25px;
        width: 170px;
    }
    
    .topLogo {
        transition: .3s;
        margin-left: 20%;
        margin-top: 5px;
        width: 120px;
    }

    .navBar, #about {
        display: none;
    }

    .logo, .topLogo {
        margin-left: 5vw;
    }

    .banner {
        margin: 30vw 0 0 10vw;
        max-width: 80%;
    }

    .slogan {
        font-size: 13vw;
    }

    .sloganSub {
        font-size: 22px;
        padding: 20px 0 20px 0;
        line-height: 25px;
        max-width: 90%;
    }

    .button {
        padding: 13px;
        font-size: 16px;
    }

    .toggle {
        position: absolute;
        top: 8px; 
        right: 10px;
        transition: 0.3s;
    }

    .scroll {
        top: 15px;
    }

    .fixedButton {
        right: 30px;
    }

    .whatsapp {
        right: auto;
        left: 30px;
    }
}