@font-face {
    font-family: 'Fellix';
    src: local('Fellix'), url('../fonts/fellix.otf') format('opentype');
}

@import './header';

@import './content';

@import './footer';

#servicios {
    padding-top: 50px;
}

#contacto {   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,16,55,1) 0%, rgba(78,184,205,1) 100%);
    margin-top: 6vw;
    width: 100%;
    text-align: center;
    color: white;
}